[Unit]
Description=Moves the contents of /var/log to RAM during boot and keeps it there until shutdown/reboot, when it copies the contents back to permanent storage.
Before=syslog.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c '/usr/bin/unsyncvar start'
ExecReload=/bin/sh -c '/usr/bin/unsyncvar reload'
ExecStop=/bin/sh -c '/usr/bin/unsyncvar stop'

[Install]
WantedBy=multi-user.target
